.Courses {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
}

.Course {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 150px;
  height: 100px;
}
.links {
  text-decoration: none;
  color: rgb(5, 5, 34);
}
