.Nav {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 0px;
  width: 100%;
  background-color: rgb(16, 14, 48);
}
.Nav li {
  list-style: none;
  margin: 20px;
  padding: 0px;
  text-decoration: none;
  height: 100%;
}
.Nav li a {
  text-decoration: none;
  color: white;
  height: 100%;
}
